OPENAI_API_BASE=
OPENAI_API_KEY=
#for platform Iguazio, you need to set the MYSQL_URL and remove S3_BUCKET_NAME
MYSQL_URL=
#for platform Mck, you need to set the S3_BUCKET_NAME and remove MYSQL_URL
S3_BUCKET_NAME=